{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block main %}
    <h2 class="my-1">{% block title %}{% endblock %}</h2>
    <form method="post">
        {% csrf_token %}

        <p>{% translate "Вы уверены, что хотите удалить" %} '{{ object_del }}'?</p>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{% translate 'Да, удалить' %}">
        </div>
    </form>
{% endblock %}
