<!doctype html>
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% translate "Менеджер задач" %}</title>

    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'cover.css' %}" rel="stylesheet">
  </head>
  <body class="text-left">
    <div class="cover-container d-flex w-220 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-4">
        <div class="inner">
          <h3 class="masthead-brand">
            <a href="{% url 'index' %}">
              <p class="text-center">{% translate "Менеджер задач" %}</p>
            </a>
          </h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#"></a>
            <a class="nav-link" href="#"></a>
            {% block nav_users %}
            <a class="nav-link" href="{% url 'users' %}">
              {% translate "Пользователи" %}
            </a>
            {% endblock %}
            {% if user.is_authenticated %}
              {% block nav_statuses %}
              <a class="nav-link" href="{% url 'statuses' %}">
                  {% translate "Статусы" %}
              </a>
              {% endblock %}
              {% block nav_label %}
              <a class="nav-link" href="{% url 'labels' %}">
                  {% translate "Метки" %}
              </a>
              {% endblock %}
              {% block nav_task %}
              <a class="nav-link" href="{% url 'tasks' %}">
                  {% translate "Задачи" %}
              </a>
              {% endblock %}
              <a class="nav-link" href="{% url 'logout' %}">
                {% translate "Выход" %}
              </a>
            {% else %}
              {% block nav_reg %}
              <a class="nav-link" href="{% url 'create' %}">
                {% translate "Регистрация" %}
              </a>
              {% endblock %}
              {% block nav_login %}
              <a class="nav-link" href="{% url 'login' %}">
                {% translate "Вход" %}
              </a>
              {% endblock %}
            {% endif %}
          </nav>
        </div>
      </header>
      {{ user }}
      {% bootstrap_messages %}
      {% block main %}
      {% endblock %}
      <footer class="mastfoot mt-auto text-left">
        <div class="container my-5 pt-4 border-top">
            <p>
              <a class="bg-dark text-info" href="https://github.com/sch0nik/python-project-lvl4">
                {% translate "Репозиторий проекта." %}
              </a>
            </p>
        </div>
      </footer>
    </div>
  </body>
</html>
