{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block main %}
    <h2 class="my-1">{% translate "Удаление пользователя" %}</h2>
    <form method="post">
        {% csrf_token %}
        <p>{% translate "Вы уверены, что хотите удалить" %} {{ user.get_full_name }}?</p>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{% translate 'Удалить' %}">
        </div>
    </form>
{% endblock %}
