{{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block main %}
    <main role="main" class="inner cover">
      <h1>{% translate "Удаление пользователя" %}</h1>
      <p>{% translate "Вы уверены, что хотите удалить " %}{{ user }}?</p>
      <form method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="Да, удалить">
      </form>
    </main>
{% endblock %}
