<!doctype html>
{% load i18n %}
<html lang="ru">
  {% include 'head.html' %}
  <body class="text-center">
    <div class="container wrapper flex-grow-1">
      {% include 'header.html' %}

      <main role="main" class="inner cover">
        {% if msg %}
          <h5>{% translate msg %}</h5>
        {% endif %}
        <h1 class="my-4">Вход</h1>
        <br>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username">Имя пользователя</label>
              <input
                      type="text"
                      name="username"
                      autofocus autocapitalize="none"
                      autocomplete="username"
                      maxlength="150"
                      class="form-control"
                      placeholder="Имя пользователя"
                      title=""
                      required id="id_username">
            </div>
            <div class="form-group">
              <label for="id_password">Пароль</label>
              <input
                      type="password"
                      name="password"
                      autocomplete="current-password"
                      class="form-control"
                      placeholder="Пароль"
                      title=""
                      required id="id_password">
            </div>
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Войти">
            </div>
          </form>
      </main>

      {% include 'footer.html' %}
    </div>
  </body>
</html>

