{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block main %}
      <main role="main" class="inner cover">
        <h2 class="my-1 text-center">{% block title %}{% endblock %}</h2>
        <form method="post">
        {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Изменить">
            </div>
        </form>
      </main>
{% endblock %}
