{% extends "base/base_list.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block nav_task %}
    <a class="nav-link active" href="{% url 'tasks' %}">
      {% translate "Задачи" %}
    </a>
{% endblock %}

{% block title %}
    <h2 class="my-1 text-center">{% translate "Задачи" %}</h2>
    <a class="btn btn-outline-primary" href="{% url 'create_task' %}">
        {% translate "Создать задачу" %}
    </a>
    <div class="card bg-transparent border-0">
    <div class="card-body ">
        <form method="get" class="form-inline">
            <div class="form-inline float-left">
                {% bootstrap_form filter.form %}
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-outline-primary mx-2">
                    {% translate "Показать" %}
                </button>
                <a class="btn btn-outline-primary mx-2"
                   href="{% url 'tasks' %}">
                    {% translate "Сбросить" %}
                </a></div>
        </form>
    </div>
    </div>
    <br>
{% endblock %}

{% block table %}
    {% for i, j in item.items %}
        <p>{{i}}: {{j}}</p>
    {% endfor %}
    {% if task_list %}
        <table class="table table-striped text-light">
        <thead class="thead-dark text-center">
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Статус" %}</th>
            <th>{% translate "Автор" %}</th>
            <th>{% translate "Исполнитель" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </thead>
        <tbody class="text-left">
        {% for task in task_list %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a class="text-info" href="{% url 'task' task.pk %}">
                        {{ task.name }}
                    </a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.autor.get_full_name }}</td>
                <td>{{ task.executor.get_full_name }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'update_task' task.pk %}">
                        {% translate "Изменить" %}
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'delete_task' task.pk %}">
                        {% translate "Удалить" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
     <p>{% translate "Нет задач" %}</p>
    {% endif %}
{% endblock %}
