{% extends "base/base_list.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block nav_users %}
    <a class="nav-link active" href="{% url 'users' %}">
      {% translate "Пользователи" %}
    </a>
{% endblock %}

{% block title %}
    <h2 class="my-1 text-center">{% translate "Пользователи" %}</h2>
{% endblock %}

{% block table %}
    {% if users %}
        <table class="table table-striped text-light">
        <thead class="thead-dark text-center">
            <th>ID</th>
            <th>{% translate "Имя пользователя" %}</th>
            <th>{% translate "Полное имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            {% if user.is_authenticated %}
                <th></th>
            {% endif %}
        </thead>
        <tbody class="text-left">
        {% for usr in users %}
            <tr>
                <td>{{ usr.id }}</td>
                <td>{{ usr.get_username }}</td>
                <td>{{ usr.get_full_name }}</td>
                <td>{{ usr.date_joined }}</td>
                {% if user.is_authenticated %}
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'update' usr.pk %}">
                        {% translate "Изменить" %}
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'delete' usr.pk %}">
                        {% translate "Удалить" %}
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
     <p>{% translate "Нет пользователей" %}</p>
    {% endif %}
{% endblock %}
