{% extends "base/base_list.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block nav_label %}
    <a class="nav-link active" href="{% url 'labels' %}">
        {% translate "Метки" %}
    </a>
{% endblock %}


{% block title %}
    <h2 class="my-1 text-center">{% translate "Метки" %}</h2>
    <a class="btn btn-outline-success" href="{% url 'create_label' %}">{% translate "Создать метку" %}</a>
{% endblock %}

{% block table %}
    {% if labels %}
        <table class="table table-striped text-light">
        <thead class="thead-dark text-center">
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </thead>
        <tbody class="text-left">
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at }}</td>
                <td>
                    <a class="btn btn-outline-warning" href="{% url 'update_label' label.id %}">
                        {% translate "Изменить" %}
                    </a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_label' label.id %}">
                        {% translate "Удалить" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
     <p>{% translate "Нет меток" %}</p>
    {% endif %}
{% endblock %}
